.item-container {
  width: 90%;
  height: 240px;
  border: 1px solid black;
  margin: auto;
  padding-top: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.restaurant-pic {
  width: 210px;
  height: 210px;
  border: 1px solid black;
  background-size: cover;
}

.restaurant-info {
  width: 400px;
  height: 210px;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #0073bb;
  font-size: 16px;
  font-weight: 700;
}
