.search-result {
  width: 80%;
  margin: auto;
}

.restaurant-list {
  list-style-type: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.filter {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  height: 80px;
  display: flex;
  justify-content: center;
}

.price-filter,
.rating-filter {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
